ruff
mypy
pytest
adafruit-python-shell # circuitpython compatibility

adafruit-circuitpython-lsm303-accel # LSM303AGR accelerometer

adafruit-circuitpython-lis2mdl # LSM303AGR magnometer

RPi.GPIO
smbus

adafruit-python-shell # circuitpython compatibility

adafruit-circuitpython-lsm303-accel # LSM303AGR accelerometer

adafruit-circuitpython-lis2mdl # LSM303AGR magnometer

adafruit-circuitpython-bmp3xx

RPi.GPIO
smbus
pint
adafruit-circuitpython-rfm9x
numpy
